* {
  border: none;
  border-radius: 0px;
  font-family: Cartograph CF Nerd Font, monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0px;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#custom-media,
#custom-spotify,
#custom-trayer,
#custom-power,
#custom-launcher,
#idle_inhibitor,
#cpu,
#memory,
#temperature,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
  background: @theme_bg_color;
  padding: 1px 10px;
  margin: 2px;
  border: 1px solid @borders;
  border-radius: 10px;
}

#backlight {
  color: @theme_fg_color;
}

#battery {
  color: @success_color;
}

#clock {
  color: @theme_fg_color;
}

#custom-launcher {
  color: @accent_color;
  font-size: 22px;
  padding: 0px 16px 0px 8px;
}

#custom-power {
  color: @accent_color;
  font-size: 18px;
  padding-right: 14px;
}

#idle_inhibitor {
  color: @accent_color;
}

#network {
  color: @link_color;
}

#pulseaudio {
  color: @accent_color;
}

#pulseaudio.microphone {
  color: @theme_selected_bg_color;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: @theme_text_color;
}

window#waybar.empty #window {
  background: none;
  border: none;
}

tooltip {
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: @borders;
}

#workspaces {
  color: @theme_fg_color;
}

#workspaces button {
  padding: 5px;
  color: @theme_fg_color;
  margin-right: 5px;
}

#workspaces button.active {
  color: @theme_fg_color;
}

#workspaces button.focused {
  color: @accent_color;
  background: @headerbar_bg_color;
  border-color: @accent_color;
  border-radius: 10px;
}

#workspaces button.active:not(.focused) {
  color: @theme_fg_color;
  background: @headerbar_bg_color;
  border-color: @accent_color;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: @theme_bg_color;
  background: @warning_color;
  border-radius: 10px;
}

#workspaces button:hover {
  color: @accent_color;
  background: @headerbar_bg_color;
  border-radius: 10px;
}
