@define-color bar-inactive-color #01024E; /*#376f52;*/
@define-color bar-background-color #1f1f1f; /* #1f1f1f */
@define-color bar-accent-color #543864; /* #55ff7f */
@define-color bar-main-color #8B4367; /* #2BD2FF */
@define-color bar-second-accent-color #FF6464; /* #be7fbe */
@define-color bar-critical-urgent-color #eb4d4b; /* #eb4d4b */
@define-color bar-darkest-color #000000; /* #000000 */
@define-color bar-keyboard-color #543864; /* #97e1ad */
@define-color bar-mode-color #64727D; /* #64727D */
@define-color bar-media-color #8B4367; /* #8EC5FC */
@define-color bar-media-accent-color #64727D; /* #55aa7f */

* {
    border: none;
    border-radius: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: @bar-main-color;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*#modules-center {
    padding: 500px;
}*/


#workspaces button {
    background: @bar-background-color;
    color: @bar-inactive-color;
    border-radius: 22px;

}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: @bar-second-accent-color;
    color: black;
    border-bottom: 3px solid @bar-inactive-color;

}

#workspaces button.active {
    color: @bar-accent-color;
    font-weight: bold;
    border-bottom: 1px solid @bar-inactive-color;
}

#workspaces button.focused {
    background: @bar-background-color;
}

#workspaces button.focused:hover {
    background: lightblue;
    color: black;
    border-bottom: 3px solid @bar-inactive-color;

}

#workspaces button.urgent {
    background-color: @bar-critical-urgent-color;
}

#mode {
    background-color: @bar-mode-color;
    border-bottom: 3px solid @bar-inactive-color;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-launcher,
#custom-power,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    color: black;
}

#window,
#workspaces {
    margin: 0px 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}

#clock {
    background-color: @bar-accent-color;
    background-image: linear-gradient(-45deg, @bar-accent-color 0%, @bar-main-color 52%, @bar-main-color 90%);
    color: black;
    border-radius: 0px 20px 20px 0px;
    margin-right: 4px;

}

#battery {
    background-color: @bar-second-accent-color;
    color: @bar-darkest;
}

#battery.charging, #battery.plugged {
    color: @bar-darkest;
    background-color: @bar-accent-color;
}

@keyframes blink {
    to {
        background-color: @bar-inactive-color;
        color: @bar-darkest;
    }
}

#battery.critical:not(.charging) {
    background-color: @bar-critical-urgent-color;
    color: @bar-inactive-color;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @bar-darkest;
}

#cpu {
    background-color: @bar-accent-color;
    background-image: linear-gradient(45deg, @bar-main-color 0%, @bar-main-color 52%, @bar-main-color 90%);
    color: black;
}

#memory {
    background-color: @bar-accent-color;
    background-image: linear-gradient(45deg, @bar-main-color 0%, @bar-main-color 52%, @bar-main-color 90%);
    color: black;
}

#disk {
    background-color: @bar-accent-color;
    background-image: linear-gradient(45deg, @bar-main-color 0%, @bar-main-color 52%, @bar-main-color 90%);
    color: black;
}

#backlight {
    background-color: @bar-accent-color;
    background-image: linear-gradient(45deg, @bar-main-color 0%, @bar-main-color 52%, @bar-main-color 90%);

}

#network {
    background-color: @bar-accent-color;
    background-image: linear-gradient(45deg, @bar-main-color 0%, @bar-main-color 52%, @bar-main-color 90%);
    color: black;
}

#network.disconnected {
    background-color: @bar-accent-color;
    background-image: linear-gradient(45deg, @bar-main-color 0%, @bar-main-color 52%, @bar-main-color 90%);
    color: red;
}

#pulseaudio {
    background-color: @bar-accent-color;
    background-image: linear-gradient(45deg, @bar-main-color 0%, @bar-main-color 52%, @bar-main-color 90%);
    color: black;
}

#pulseaudio.muted {
    background-color: @bar-accent-color;
    background-image: linear-gradient(45deg, @bar-main-color 0%, @bar-main-color 52%, @bar-main-color 90%);
    color: red;
}

#custom-media {
    background-color: @bar-media-color;
    background-image: linear-gradient(62deg, @bar-media-color 0%, @bar-second-accent-color 100%);
    color: black;
    border-radius: 20px;
    margin-right: 5px;
}

#custom-media.custom-spotify {
    background-color: @bar-media-color;
    background-image: linear-gradient(62deg, @bar-media-color 0%, @bar-media-accent-color 100%);
    color: black;
    border-radius: 20px;
    margin-right: 5px;

}

#custom-media.custom-vlc {
    background-color: @bar-media-color;
    background-image: linear-gradient(62deg, @bar-media-color 0%, @bar-media-accent-color 100%);
    color: black;
    border-radius: 20px;
    margin-right: 5px;
}

#custom-power{
    background-color: @bar-accent-color;
    background-image: linear-gradient(45deg, @bar-accent-color 0%, @bar-main-color 52%, @bar-main-color 90%);
    font-size: 16px;
    border-radius: 19px;

}
#custom-launcher{
    background-color: @bar-accent-color;
    background-image: linear-gradient(-45deg, @bar-accent-color 0%, @bar-main-color 52%, @bar-main-color 90%);
    font-size: 18px;
    border-radius: 20px;

}

#custom-updater {
    background-color: @bar-accent-color;
    background-image: linear-gradient(45deg, @bar-main-color 0%, @bar-main-color 52%, @bar-main-color 90%);
    color: black;
}


#temperature {
    background-color: @bar-accent-color;
    background-image: linear-gradient(45deg, @bar-main-color 0%, @bar-main-color 52%, @bar-main-color 90%);
    color: black;
}

#temperature.critical {
    background-color: @bar-critical-urgent-color;
}

#tray {
    background-color: @bar-accent-color;
    background-image: linear-gradient(-45deg, @bar-main-color 0%, @bar-main-color 52%, @bar-main-color 90%);
    color: black;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    background-color: @bar-accent-color;
    background-image: linear-gradient(-45deg, @bar-accent-color 0%, @bar-main-color 52%, @bar-main-color 90%);
    color: black;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @bar-accent-color;
    background-image: linear-gradient(-45deg, @bar-accent-color 0%, @bar-main-color 52%, @bar-main-color 90%);
    color: black;
}

#idle_inhibitor {
    background-color: @bar-accent-color;
    background-image: linear-gradient(45deg, @bar-accent-color 0%, @bar-main-color 52%, @bar-main-color 90%);
    border-radius: 20px 0px 0px 20px;

}

#idle_inhibitor.activated {
    background-color: @bar-accent-color;
    background-image: linear-gradient(45deg, @bar-accent-color 0%, @bar-main-color 52%, @bar-main-color 90%);
    color: black;
    border-radius: 20px 0px 0px 20px;

}

#language {
    background-color: @bar-accent-color;
    background-image: linear-gradient(45deg, @bar-main-color 0%, @bar-main-color 52%, @bar-main-color 90%);
    color: black;
    min-width: 16px;
}

#keyboard-state {
    background: @bar-keyboard-color;
    color: @bar-darkest;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0px 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
